/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

:root {
  --ifm-color-primary: #5293C8;
  --ifm-color-primary-dark: #0c529c;
  --ifm-color-primary-darker: #002D5D;
  --ifm-color-primary-darkest: #011b38;
  --ifm-color-primary-light: #5293C8;
  --ifm-color-primary-lighter: #93c3eb;
  --ifm-color-primary-lightest: #bedbf3;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg,#1E4973 50%,#53B1B9 50%);
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
